:root {
  --sombra: 0px 0px 15px rgba(0, 0, 0, 0.2);
  --fondo: white;
  --radio: 12px;
  /* clamp(min, val o (valor preferido), max) */

  --step--1: clamp(0.83rem, 0.77rem + 0.33vw, 1rem);
}

.titulo h1 {
  margin: calc(var(--header-height) + 3rem) 0 0 0;
  text-align: center;
  font-size: 2rem;
}

a {
  text-decoration: none;
}

.photo-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: minmax(200px, auto);
  gap: 2rem;
  padding: 2rem;
  background-color: var(--fondo);
  box-shadow: var(--sombra);
  border-radius: var(--radio);
}
.photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  border-radius: var(--radio);
  box-shadow: var(--sombra);
  cursor: pointer;
  transition: all 0.5s ease;
}
img:hover {
  transform: scale(1.05);
}

/* iPad */
@media screen and (max-width: 768px) {
  .titulo h1 {
    font-size: 1.5rem;
  }
}

/* Smartphone */
@media screen and (max-width: 500px) {
  .titulo h1 {
    font-size: var(--step--1);
  }
}
